@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../asset/Gilroy-ExtraBold.otf);
  font-style: normal;
}

@font-face {
  font-family: Gilroy-Light;
  src: url(../asset/Gilroy-Light.otf);
  font-style: normal;
}

/* reset styles */
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  font-family: Gilroy-ExtraBold, serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}
