/* reset styles */
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}
