// variables & functions
@import 'functions';
@import 'variables';

// base & layout
@import 'base';

// colors

// components (button, card, navbar etc)

// utilities (margin, padding, opacity, etc)

#root {
  // @include display-flex(center, flex-start);
  flex-direction: column;

  min-height: 100vh;
  background-color: #efefef;
  padding-top: 80px;

  font-family: gilroy;
}

main {
  @include display-flex;
  width: 100%;
}

.navbar {
  @include display-flex(center, space-between);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  color: #fff;
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.4);

  padding: 0 10%;
  height: 100px;

  > img {
    height: 80px;
  }

  > .nav-link {
    @include display-flex;
    gap: 10px;
    position: relative;

    > a {
      color: $primary-color;
      font-family: 'Jura', sans-serif;
      font-weight: 700;

      padding: 5px 10px;
      border-radius: 5px;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $primary-color;
      }
    }

    > .signup {
      color: #fff;
      background-color: $primary-color;

      border: none;
    }

    > p {
      @include display-flex;
      font-size: 2rem;
      padding: 10px;
      height: 50px;
      width: 50px;
      background-color: $primary-color;
      border-radius: 50%;

      cursor: pointer;
    }

    > .signout {
      position: absolute;
      right: -50px;
      top: 49px;
      background-color: $primary-color;
      color: #fff;
      font-size: 1rem;

      transition: all 0.6s ease-in-out;
      opacity: 0;
      z-index: -1;

      &.active {
        transition: all 0.6s ease-in-out;
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

/* ------------------------------------------- Profile ------------------------------------------ */

.profile {
  @include display-flex;
  flex-direction: column;
  gap: 20px;

  padding: 40px 10% 40px;
  height: 100%;

  > h1 > span {
    color: $primary-color;
  }

  > .active-posts {
    @include display-flex(stretch, start);
    flex-wrap: wrap;
    gap: 10px;

    > .user-post {
      flex: 1;
      min-width: 300px;
      background-color: #fff;
      padding: 15px 40px;

      border-radius: 5px;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);

      cursor: pointer;

      &:hover {
        transform: translate(0, -2%);
      }

      > h2 {
        margin-bottom: 10px;
        color: $primary-color;
      }

      > span {
        color: $grey-color;
        font-family: 'Jura', sans-serif;
        font-weight: 700;
      }
    }
  }

  > .inactive-posts {
    @include display-flex(stretch, center);
    flex-wrap: wrap;
    gap: 10px;

    > .user-post {
      flex: 1;
      background-color: #a5a5a5;
      padding: 15px 40px;

      border-radius: 5px;
      box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.847);

      > h2 {
        margin-bottom: 10px;
      }

      > span {
        color: $grey-color;
        font-family: 'Jura', sans-serif;
        font-weight: 700;
      }
    }
  }

  > .user-messages {
    @include display-flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    > .message {
      width: 100%;
      padding: 15px 40px;

      background-color: #fff;

      border-radius: 5px;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);

      cursor: pointer;

      > h2 {
        color: $primary-color;
        font-family: 'Jura', sans-serif;
        font-weight: 700;
      }
    }
  }
}

/* ------------------------------------------- Profile ------------------------------------------ */

/* ------------------------------------------ Register ------------------------------------------ */

.register {
  @include display-flex;

  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.4);

  margin-top: 7%;
  height: 550px;
  overflow: hidden;

  > img {
    height: 100%;
    max-width: 600px;
  }

  > form {
    @include display-flex(center, space-evenly);
    flex-direction: column;

    position: relative;

    background-color: $primary-color;
    color: #fff;

    width: 500px;
    height: 100%;
    padding-bottom: 15px;

    > span {
      position: absolute;
      bottom: 3%;

      color: $error-color;
    }

    > fieldset {
      @include display-flex(start, center);
      flex-direction: column;

      position: relative;
      gap: 10px;

      border: none;

      width: 75%;

      > label {
        font-size: 1.2rem;
        margin-left: 10px;
      }

      > input {
        padding: 15px 20px;
        width: 100%;

        font-size: 1.2rem;
        color: #000;

        border-radius: 10px;
        border: none;

        &:focus {
          outline: none;
        }
      }

      > i {
        position: absolute;
        right: 5%;
        bottom: 20%;

        font-size: 1.2rem;
        color: $primary-color;
      }

      > i.hidden {
        display: none;
      }
    }

    > div {
      text-align: center;

      width: 75%;

      > p > a {
        text-decoration: underline;
      }

      > button {
        border: 1px solid #fff;
        background-color: $primary-color;
        border-radius: 10px;

        font-size: 1.2rem;

        width: 100%;
        padding: 10px 20px;
        margin-bottom: 10px;

        cursor: pointer;

        &:hover {
          color: $primary-color;
          background-color: #fff;
        }
      }
    }
  }
}

/* ------------------------------------------ Register ------------------------------------------ */

/* ------------------------------------------- Sign In ------------------------------------------ */

.signin {
  @include display-flex;

  border-radius: 25px;
  box-shadow: 0px 0px 6px 0px rgba(90, 89, 89, 0.4);

  margin-top: 7%;
  height: 500px;
  overflow: hidden;

  background-color: #fff;

  > form {
    @include display-flex(center, space-evenly);
    flex-direction: column;

    position: relative;

    color: $primary-color;

    width: 500px;
    height: 100%;

    > fieldset {
      @include display-flex(start, center);
      flex-direction: column;
      gap: 10px;

      position: relative;

      border: none;

      width: 75%;

      > label {
        font-size: 1.2rem;
        margin-left: 10px;
      }

      > input {
        padding: 15px 20px;
        width: 100%;

        font-size: 1.2rem;

        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 6px 0px $primary-color;

        &:focus {
          outline: none;
        }
      }

      > i {
        position: absolute;
        right: 5%;
        bottom: 20%;

        font-size: 1.2rem;
        color: $primary-color;
      }

      > i.hidden {
        display: none;
      }
    }

    > span {
      position: absolute;
      bottom: 3%;

      color: $error-color;
    }

    > div {
      text-align: center;

      width: 75%;

      > p > a {
        color: #4b4b4b;
      }

      > button {
        border: 1px solid $primary-color;
        background-color: $primary-color;
        border-radius: 10px;

        color: #fff;
        font-size: 1.2rem;

        padding: 10px 20px;
        margin-bottom: 10px;

        cursor: pointer;

        &:hover {
          color: $primary-color;
          background-color: #fff;
        }
      }
    }
  }
}

/* ------------------------------------------- Sign In ------------------------------------------ */

/* -------------------------------------------- Home -------------------------------------------- */

.home {
  height: 100%;
  width: 100%;
  padding: 40px 10% 40px;

  form {
    @include display-flex;
    gap: 5px;

    margin-bottom: 20px;

    > input {
      flex: 1;
      font-size: 1.2rem;
      border: 2px solid #888888;

      padding: 10px 20px;

      &:focus {
        outline: none;
        border: 2px dashed $primary-color;
      }
    }

    > a {
      padding: 10px 20px;
      font-size: 1.2rem;
      color: $primary-color;

      border: 2px solid $primary-color;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  .posts {
    @include display-flex;
    flex-direction: column;
    gap: 10px;

    height: 100%;
    width: 100%;

    > .post-card {
      @include display-flex(start, space-between);
      width: 100%;
      padding: 15px 40px;

      border-radius: 5px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
      background-color: #fff;

      &:hover {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
      }

      > .right-side {
        text-align: right;

        > p {
          font-family: 'Jura';
          font-weight: 700;
        }
      }
      > div {
        > h2 {
          margin-bottom: 10px;
        }

        > .post-title {
          color: $primary-color;
        }

        > span {
          display: block;
          color: $grey-color;
          margin-bottom: 5px;

          font-family: 'Jura';
          font-weight: 700;
        }

        > a {
          display: inline-block;
          padding: 5px 10px;
          color: $primary-color;

          border: 2px solid $primary-color;
          border-radius: 5px;
          margin-top: 5px;

          &:hover {
            background-color: $primary-color;
            color: #fff;
          }
        }

        > p > i {
          color: $checked-color;
        }
      }
    }
  }
}

/* -------------------------------------------- Home -------------------------------------------- */

/* ------------------------------------------ Post Form ----------------------------------------- */

.post-form {
  @include display-flex;
  flex-direction: column;
  gap: 30px;

  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);

  width: 600px;
  padding: 40px 0 60px;
  margin-top: 5%;

  > h1 {
    color: $primary-color;
  }

  > .input-fieldset {
    position: relative;

    > label {
      position: absolute;
      left: 17px;
      color: $grey-color;
    }

    &:focus-within {
      > label {
        color: $primary-color;
        transform: translate(-5px, -25px);
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        font-size: 1rem;
        padding: 5px 10px;
      }
    }

    > label.focus {
      color: $primary-color;
      transform: translate(-5px, -25px);
      background-color: #fff;
      transition: all 0.3s ease-in-out;
      font-size: 1rem;
      padding: 5px 10px;
    }

    > input {
      border-radius: 10px;
      border: 1px solid #747474;

      width: 100%;
      padding: 15px 15px;

      font-size: 1.2rem;

      &:focus {
        outline: 2px solid $primary-color;
        border: none;
      }
    }
  }

  > fieldset {
    @include display-flex(center, flex-start);
    border: none;

    width: 75%;

    > label {
      font-size: 1.2rem;
      pointer-events: none;
    }

    > .check-box {
      margin: 0 15px;
    }
  }

  > .buttons {
    @include display-flex;
    flex-direction: column;
    gap: 10px;

    width: 75%;

    > button {
      border-radius: 10px;
      background-color: transparent;
      border: 2px solid $primary-color;

      color: $primary-color;
      font-size: 1.2rem;

      padding: 10px 15px;
      width: 100%;

      cursor: pointer;

      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }

    > .cancel {
      border: 2px solid #000;

      color: #000;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

/* ------------------------------------------ Post Form ----------------------------------------- */

/* ------------------------------------------ Post View ----------------------------------------- */

.post-view {
  @include display-flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 40px;
  width: 75%;
  > .post {
    @include display-flex(stretch, space-between);
    width: 100%;
    padding: 15px 40px;

    background-color: #fff;

    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);

    > div {
      flex: 1;

      > .post-title {
        margin-bottom: 10px;
        color: $primary-color;
      }

      > span {
        display: inline-block;
        color: $grey-color;
        margin-bottom: 10px;

        font-family: 'Jura';
        font-weight: 700;
      }

      > p > i {
        color: $checked-color;
      }

      > .buttons {
        @include display-flex(center, flex-start);
        gap: 5px;

        > button {
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;

          cursor: pointer;
        }

        > .delete-btn {
          background-color: #fff;
          border: 2px solid #000;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }

        > .edit-btn {
          color: $primary-color;
          background-color: transparent;

          border: 2px solid $primary-color;

          &:hover,
          &.active {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }

    > .right-side {
      @include display-flex(end, space-between);
      flex-direction: column;
      flex: 1;
    }
  }

  > .messages-form {
    @include display-flex(start, center);
    flex-direction: column;

    padding: 10px 15px;
    width: 100%;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);

    > h2 {
      margin: 5px 25px;
      font-family: 'Jura';
      font-weight: 700;
      color: $primary-color;
    }

    > fieldset {
      @include display-flex;
      width: 100%;

      border: none;
      border-radius: 5px;

      > input {
        flex: 1;

        font-size: 1.2rem;
        border: 2px solid #c7c7c7;
        border-radius: 5px;

        padding: 10px 20px;

        &:focus {
          outline: 2px solid $primary-color;
          border: none;
        }
      }

      > button {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        padding: 5px 15px;
        color: $primary-color;
      }
    }
  }

  > .message {
    width: 100%;
    padding: 15px 40px;

    background-color: #fff;

    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
  }
}
