// variables & functions
@import 'functions';
@import 'variables';

// base & layout
@import 'base';

// colors

// components (button, card, navbar etc)

// utilities (margin, padding, opacity, etc)

#root {
  @include display-flex;
  min-height: 100vh;
  background-color: #efefef;
}

.navbar {
  @include display-flex(center, space-between);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  color: #fff;
  font-size: 1.4rem;
  background-color: $primary-color;

  padding: 0 10%;
  height: 80px;

  > .nav-link {
    @include display-flex;
    gap: 40px;
  }
}

.home {
  @include display-flex;
  flex-direction: column;
}

.register {
  @include display-flex;

  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.4);

  height: 500px;
  overflow: hidden;

  > img {
    height: 100%;
    width: 500px;
  }

  > form {
    @include display-flex(center, space-evenly);
    flex-direction: column;

    position: relative;

    background-color: $primary-color;
    color: #fff;

    width: 500px;
    height: 100%;

    > span {
      position: absolute;
      bottom: 3%;

      color: #b6001b;
    }

    > fieldset {
      @include display-flex(start, center);
      flex-direction: column;
      gap: 10px;

      border: none;

      width: 75%;

      > label {
        font-size: 1.2rem;
        margin-left: 10px;
      }

      > input {
        padding: 15px 20px;
        width: 100%;

        font-size: 1.2rem;
        color: #000;

        border-radius: 10px;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }

    > div {
      text-align: center;

      width: 75%;

      > p > a {
        text-decoration: underline;
      }

      > button {
        border: 1px solid #fff;
        background-color: $primary-color;
        border-radius: 10px;

        font-size: 1.2rem;

        width: 100%;
        padding: 10px 20px;
        margin-bottom: 10px;

        cursor: pointer;

        &:hover {
          color: $primary-color;
          background-color: #fff;
        }
      }
    }
  }
}

.signin {
  @include display-flex;

  border-radius: 25px;
  box-shadow: 0px 0px 6px 0px rgba(90, 89, 89, 0.4);

  height: 500px;
  overflow: hidden;

  > form {
    @include display-flex(center, space-evenly);
    flex-direction: column;

    position: relative;

    color: $primary-color;

    width: 500px;
    height: 100%;

    > fieldset {
      @include display-flex(start, center);
      flex-direction: column;
      gap: 10px;

      border: none;

      width: 75%;

      > label {
        font-size: 1.2rem;
        margin-left: 10px;
      }

      > input {
        padding: 15px 20px;
        width: 100%;

        font-size: 1.2rem;

        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 6px 0px $primary-color;

        &:focus {
          outline: none;
        }
      }
    }

    > span {
      position: absolute;
      bottom: 3%;

      color: #b6001b;
    }

    > div {
      text-align: center;

      width: 75%;

      > p > a {
        color: #4b4b4b;
      }

      > button {
        border: 1px solid $primary-color;
        background-color: $primary-color;
        border-radius: 10px;

        color: #fff;
        font-size: 1.2rem;

        padding: 10px 20px;
        margin-bottom: 10px;

        cursor: pointer;

        &:hover {
          color: $primary-color;
          background-color: #fff;
        }
      }
    }
  }
}

.posts {
  @include display-flex;
  flex-direction: column;
  gap: 5px;

  height: 100%;
  width: 100%;
  padding: 100px 10% 0;

  > .post {
    width: 100%;
    padding: 15px 40px;

    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);

    > h2 {
      margin-bottom: 10px;
    }

    > span {
      color: #6f6f6f;
    }
  }
}
